.Color_Palette_Demo {
  color: #fff6ea, #ffd494, #6686a7, #375e86;
}
/* =========MOBILE FIRST========= */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff6ea;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  align-self: center;
  max-width: 100%;
}

#map {
  z-index: 1;
  overflow: hidden;
  border: solid 3px #ffd494;
  height: 380px;
  width: 75%;
  border-radius: 50%;
  margin: 0 auto;
}

.main_container {
  display: flex;
  flex-direction: column;
}

.title {
  color: #375e86;
  /* font-family: 'Bangers', cursive; */
  /* font-family: 'Chewy', cursive; */
  /* font-family: 'Fredoka One', cursive; */
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 3rem;
  text-align: center;
  text-shadow: 1px 1px 3px #ffd494;
}

.tagline {
  color: #375e86;
  text-align: center;
  text-shadow: 1px 1px 1px #ffd494;
}

.btns {
  margin: 2rem 0 0 0;
  display: flex;
  justify-content: space-around;
  width: 75%;
  align-self: center;
}
.btns > div {
  /* display: inline-block; */
  color: #375e86;
  border: 1px solid #ffd494;
  background: #ffd494;
  box-shadow: 0 0 5px -1px #6686a7;
  cursor: pointer;
  vertical-align: middle;
  max-width: 100px;
  padding: 5px;
  text-align: center;
}
.btns > div:active {
  color: red;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
}

/* =========DESKTOP/TABLET========= */
@media (min-width: 600px) {
  #map {
    z-index: 1;
    overflow: hidden;
    border: solid 3px #ffd494;
    height: 380px;
    width: 75%;
    border-radius: 30px;
    margin: 0 auto;
  }
}
